<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="true"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Silex Guzzle Test Suite">
            <directory>./tests/SilexGuzzle/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="coverage.xml"/>
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>